<div id="int-container" style="width: 700px;">
<div class="heading">Signup</div>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username, :username, :class => "label-text" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, :email, :class => "label-text"  %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, :password, :class => "label-text"  %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, :password_confirmation, :class => "label-text"  %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
