<% form_for(@special) do |f| %>
  <%= f.error_messages %>

  <p>
  <%= f.label :keyword, :keyword, :class => "label-text" %>
  <span class="label-text">(When your customers text this keyword, they get back the below content depending on the day)</span>
    <%= f.text_field :keyword %>
  </p>
  <% for i in Date::DAYNAMES %>
    <% counter = "counter_" + i %>
    <p>
    <%= f.label i, i, :class => "label-text" %>
    <span id="<%= counter %>" style="padding-left: 10px;">
    <%= f.text_area i, :rows => 3, :cols => 40 %>
    </p>
  <% end %>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
