<div>
  <b>Keyword:</b>
  <%=h @special.keyword %>
</div>

<div>
  <b>Sunday:</b>
  <%=h @special.sunday %>
</div>

<div>
  <b>Monday:</b>
  <%=h @special.monday %>
</div>

<div>
  <b>Tuesday:</b>
  <%=h @special.tuesday %>
</div>

<div>
  <b>Wednesday:</b>
  <%=h @special.wednesday %>
</div>

<div>
  <b>Thursday:</b>
  <%=h @special.thursday %>
</div>

<div>
  <b>Friday:</b>
  <%=h @special.friday %>
</div>

<div>
  <b>Saturday:</b>
  <%=h @special.saturday %>
</div>


<%= link_to 'Edit', edit_special_path(@special) %> |
<%= link_to 'Back', specials_path %>
